.cp_cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  .cards_lhs {
    width: 35%;
  }

  .card_rhs {
    width: 65%;

    .search{
      width: 15rem;
      position: relative;
      margin-bottom: 1rem;
      .search_input{
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 7px;
      }
      .search_button{
        position: absolute;
        right: 0;
        top: 1.2rem;
        transform: translate(-50%,-50%);
      }
    }
    .sort_block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      .sort_select {
        .hide_product {
          margin-right: 0.5rem;
        }
        .select {
          background-color: transparent;
          padding: 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-radius: 5px;
        }
      }
    }

    .list_wrap {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;

    .cards_lhs {
      width: 100%;
      .lhs_filter {
        display: none;
      }
    }

    .card_rhs {
      width: 100%;
      .sort_block {
        flex-direction: column;
      }
    }
  }
}

.loadMore_button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .loadMore {
    background-color: transparent;
    padding: 1rem 3.5rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 750;
    transition: all .3s ease;
  }
  .loadMore:hover {
    background-color: blue;
    color: white;
  }
}
