.cpFilter{

    .title{

    }
    .line{
        margin-block: 2rem;
        height: 1px;
        background-color: rgb(216, 216, 216);
      }
     .category{
      margin-bottom: 2rem;
     } 
    
}